*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin under600 {
    @media (max-width: 600px) {
        @content
    }
}

@mixin under480 {
    @media (max-width: 480px) {
        @content
    }
}

@mixin height1 {
    @media (max-height: 700px) {
        @content
    }
}

// Login page

$primary-color: rgb(255, 255, 255);
$primary2-color: rgb(238, 238, 253); 
$strong-color: rgb(134, 134, 243); 
$secondary-color: rgb(166, 166, 243); 

.main-app {
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-page {
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;



        .login-card {
            background-color: rgb(232, 253, 232);
            background-color: rgb(212, 212, 245);
            color: #333; 
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.2);
            padding: 25px; 
            margin: 10px;
            margin-top: 15%; 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            width: 300px;

            @include under600 {
                transform: scale(0.9);
            }

            input {
                padding: 1rem; 
                border-radius: 25px;
                border: none; 
                background-color: white;
                font-family: inherit;
                box-shadow: 0 2px rgba(230, 12, 12, 0.2);
                width: 100%;
                font-size: 1rem;
                margin-bottom: 10px;

                &focus{
                    outline: none;
                }
            }

            button {
                background-color: rgb(126, 126, 212);
                color: black;
                border-radius: 20px;
                border: none; 
                padding: 10px; 
                margin: 20px;
                height: 50px;
                width: 80%;
                text-align: center;
                text-justify: center;
                font-weight: 400;
                font-size: 1.0rem;
            
                &:hover {
                    transform: scale(0.98);
                    cursor: pointer;
                }
            
                &:active {
                    background-color: rgb(163, 163, 241);
                }
            }
            
        }
    }
}

// Game

.main-game {
    text-align: center;
    background-color: white;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
}

body {
    padding: 0%;
    margin: 0;
}

nav {
    background-color: $secondary-color;
    color: white; 
    height: 50px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid grey;
    display: grid;
    place-items: center;

    h1 {
        color: white; 
        font-size: 2rem; 
    }
}

.game {
    width: 100vw;
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}

.board {
    //width: 450px;
    width: 350px;
    //height: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;

    @include under480 {
        transform: scale(0.8);
    }
    @include height1 {
        transform: scale(0.8);
    }
}

.row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.letter {
    background-color: white;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 25px;
    font-weight: bolder;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#correct {
    background-color: #528d4e;  
    color: white;
}

#almost {
    background-color: #b49f39;
    color: white;
}

#error {
    background-color: #6a6a6b;
    color: white;
}

.keyboard {
    width: 550px;
    height: 200px;
    margin-top: 60px;

    @include under600 {
        transform: scale(0.8);
    }
    @include under480 {
        transform: scale(0.6);
    }
    @include height1 {
        transform: scale(0.8);
    }
}

.line1 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.line2 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.line3 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.key {
    width: 50px;
    height: 70px;
    margin: 5px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#big {
    width: 100px;
}

#disabled {
    background-color: #3a393c;
}
#black {
    background-color: #3a393c;
}
#yellow {
    background-color: #b49f39;
}
#green {
    background-color: #528d4e;
}